<h1>Credits</h1>
<p><a href="https://www.flaticon.com/free-icons/brass" title="brass icons">Brass icon created by Freepik - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/guitar" title="guitar icons">Guitar icon created by Freepik - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/piano" title="piano icons">Piano icon created by Freepik - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/violin" title="violin icons">Violin icon created by Freepik - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/microphone" title="microphone icons">Microphone icon created by Freepik - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/woodwind" title="woodwind icons">Woodwind icon created by gravisio - Flaticon</a><br>
<a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icon created by Adrly - Flaticon</a><br>
<a target="_blank" href="https://icons8.com/icon/88946/musical">Music Note</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
