footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 80px;

}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 10%;
}

@media (max-width: 600px) {
  .footer {
    margin:0;
  }
}

.footer-column ul {
  list-style-type: none;
  padding: 5%;
}
