<footer>
  <div class="footer">
    <div class="footer-column">
      <h3>Quick links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Info</h3>
      <ul>
        <li><a routerLink="/credits">Credits</a></li>
        <li><a>Privacy Policy</a></li>
        <li><a>Support</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <br><li>123 Music Lane</li>
        <li>City, Country</li><br>
        <li>© 2024 Easy Sheet</li>
      </ul>
    </div>
  </div>

</footer>
