<nav>
  <a id="logo" routerLink="/">easy sheets</a>
  <div class="nav-content">
    <ul id="nav-links">
      <li class="search">
        <input id="search-bar" class="search-bar" type="text" (keyup.enter)="onSearch(filter.value)" placeholder="Search for music sheets" #filter>
        <a id="search-icon" class="search-icon">
          <img src="assets/images/search.png" alt="search icon">
        </a>
      </li>
      <li><a routerLink="/">Home</a></li>
      <li><a (click)="viewAll()">View all</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </div>
</nav>
