.sheet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
  margin: 0 10%;
}
@media (min-width: 1300px) {
  .sheet-list {
    grid-template-columns: repeat(3, 1fr); // max 3 columns when the window is wide enough
  }
}

.sheet-card {
  margin-bottom: 10%;
}

.sheet-card * {
  text-align: center;
  overflow: hidden;
}

.sheet-card img {
  width: 50%;
  height: 80%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; // Add margin-bottom to create space between the image and the text
}

.sheet-card h3 {
  margin-top: 0;
}
