.sheet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin: 5%;
}

.sheet-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
}

.sheet-card img {
  width: 100%;
  height: 200px;
  object-fit: contain; // white space if needed
  object-position: center;
  margin: 0 auto;
}

.sheet-card * {
  text-align: center;
  overflow: hidden;
}

@media (max-width: 600px) {
  .sheet-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 0 10px;
  }

  .sheet-card {
    padding-bottom: 10px;
  }

  .sheet-card p {
    margin: 2px 0;
    font-size: 0.9em;
  }

  .sheet-card h3 {
    margin-bottom: 5px;
  }
}
