.search {
  text-align: center;
}

.refine-search {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin: 2% 0;
  align-items: center;
  text-align: center;
}

.refine-search .box {
  margin: 0 10px;
}


@media (max-width: 700px) {
  .refine-search {
    grid-template-columns: 1fr;
  }
  #search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }
  #search-buttons button {
    margin-top: 0;
    width: auto;
    flex: 1 1 0;
  }
}

select {
  font-size: 1em;
  margin-top : 20px;
  padding: 0.5em 2em;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

button { margin-top: 20px;}

h1 {
  margin: 0 10%;
}

.pagination ::ng-deep {
  margin-top: 10em;
  display: flex;
  justify-content: center;
}
.pagination ::ng-deep .current {
  background-color: var(--color-3);
}
.pagination ::ng-deep * {
  color: var(--color-2)
}
.pagination ::ng-deep .disabled * {
  color: grey;
}
