<div class="back">
  <h2 style="margin-top: 0;"><a (click)="goBack()">> back <</a></h2>
</div>

<div class="search">
  <!-- whether it's a search or the list of all sheets -->
  <h1 *ngIf="searchQuery">Results for : {{ searchQuery }}</h1>
  <h1 *ngIf="searchQuery === ''">Explore our collection</h1>
</div>

<p style="text-align: center;">Looking for pieces for your instrument by a specific composer?
  Refine your search by selecting both composers and instruments.
  <br>You can make multiple choices for each category.</p>

<div class="refine-search">

  <div class="box">
    <label for="composers" >Select composers</label><br>
    <select id="composers"  multiple #selectedComposers>
      <option value="any">Any</option>
      <option *ngFor="let composer of composers" [value]="composer">{{ composer }}</option>
    </select>
  </div>

  <div class="box">
    <label for="instruments" >Select instruments</label><br>
    <select id="instruments"  multiple #selectedInstruments>
      <option value="any">Any</option>
      <option *ngFor="let instrument of instruments" [value]="instrument">{{ instrument }}</option>
    </select>
  </div>

  <div class="box">
    <button (click)="refineSearch(selectedComposers, selectedInstruments)">Refine Search</button><br>
    <button (click)="resetFilter()">Clear Search</button>
  </div>

</div>

<div class="sheet-list" *ngIf="sheetsFiltered.length > 0">

  <div class="sheet-card" *ngFor="let sheet of sheetsFiltered | paginate: { itemsPerPage: 9, currentPage: page }">
    <a [routerLink]="['/list', sheet.id]">
      <img src="{{ sheet.firstpage }}" alt="Sheet Preview">
      <h3>{{ sheet.title }}</h3>
    </a>
    <p>by <a (click)="searchByComposer(sheet.composer)">{{ sheet.composer }}</a></p>
    <p>Instrument : <a (click)="search(sheet.instrument)">{{ sheet.instrument }}</a></p>
  </div>


</div>
<pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
<h2 *ngIf="sheetsFiltered.length === 0" style="text-align: center; margin-top: 3em;" >No sheets found :(</h2>
