html {
  scroll-behavior: smooth;
}

.all-instruments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 5%;
}

.instrument {
  text-align: center;
  min-width: 150px;
}

.all-instruments img {
  height: 100px;
  margin-bottom: 5px;
}

.background-stripe {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: var(--color-5);
  z-index: -1; //stays in the background
}

.welcome h3 {
  //make it less bold
  font-weight: 300;
}

.section {
  margin: 10% 0;
}

.welcome a {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

@media (max-width: 600px) {
  .all-instruments {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 0;
  }

  .instrument {
    min-width: 100px;
  }
}
